@page "/"

<PageTitle>Part One</PageTitle>

<h1>Part One</h1>

<p>
    a blazor app starts from the index.html in the wwwroot folder. <br />
    in the program.cs file builder.RootComponents.Add&lt;App>("#app"); <br />
    which calls App.razor (routing component) <br />
    then it calls the layout and puts the selected page in it.
</p>
